/*Folha de estilo do formulário*/

button{
    background-color: rgb(73, 73, 240);
    width: 200px;
}
h1{
    text-align: center;
    background-color: rgb(189, 189, 245);
    color: white;
    padding: 30px;
}
label{
    position: relative;
  }


